body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.token-price-preview{
  padding: 2px 2px;
  display: flex; 
  justify-content: left; 
  align-items: center; 
}

#currency{
  margin-left: 20;
  margin-right: 20;
}

#date{
  margin-left: 20;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #248e38;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar button:hover {
  background-color: #abdca7;
  color: #FFFFFF;
}

.navbar button {
  background-color: #248e38;
  border-radius: 100px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin: 10px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
}


.token h1 {
  font-size: 30px;
  color: #248e38;
  margin-bottom: 40px;
  align-items: center;
}

#exchangebutton:hover {
  background-color: #A3C9AA;
  color: black;
}

#exchangebutton {
  background-color: #A1DD70;
  border-radius: 100px;
  border-style: none;
  box-sizing: border-box;
  color: #000000;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin: 10px;
  margin-bottom: 40px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
}

#button {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
