body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#sellPrice{
  color: #EE4E4E
}

#buyPrice{
  color:#248e38
}
#sell-output{
  font-weight: bold;
  color: #EE4E4E;
}

#buy-output{
  font-weight: bold;
  color: #248e38;
}

#sell-select{
  inline-size: 100%;
  font-size: 25px;
  font-weight: bold;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 3px solid #caced1;
  border-color: #EE4E4E;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  margin-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; 
}

#buy-select{
  inline-size: 100%;
  font-size: 25px;
  font-weight: bold;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 3px solid #caced1;
  border-color: #248e38;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  margin-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; 
}


#sell-all {
  background-color: #EEEEEE;
  padding: 50px;
  border-radius: 25px;
  max-width: 500px;
  align-content: center;
  align-self: center;
  margin: auto;
}

#buy-all {
  background-color: #EEEEEE;
  padding: 50px;
  border-radius: 25px;
  margin-top: 20px;
  max-width: 500px;
  align-content: center;
  align-self: center;
  margin: auto;
  margin-top: 10px;
}

#sell-label {
  font-size: 35px;
  color: #EE4E4E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; 
  font-weight: bold;
}

#buy-label {
  font-size: 35px;
  color: #248e38;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; 
  font-weight: bold;
}

#exchange-confirmation{
  font-size: 35px;
  color: #686D76;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; 
  font-weight: bold;

}

#transaction {
  background-color: #EEEEEE;
  font-size: 25px;
  padding: 50px;
  border-radius: 50px;
  margin-top: 20px;
  max-width: 500px;
  align-content: center;
  align-self: center;
  margin: auto;
  margin-top: 10px;
}

.token h1 {
  font-size: 30px;
  color: #003285;
  margin-bottom: 40px;
  align-items: center;
}

.token-price-preview{
  padding: 2px 2px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

#currency{
  margin-left: 20;
  margin-right: 20;
}

#date{
  margin-left: 20;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #EEEEEE;
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
}
.navbar h1 {
  color: #003285;
  font-size: 30px;
  margin-right: 20px;
}

.navbar button:hover {
  background-color: #CAF4FF;
  color: black;
}

.navbar button {
  width: 170px;
  background-color: #2A629A;
  border-radius: 100px;
  border-style:double;
  border-color: black;
  color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin: 10px;
  padding: 10px;
  transition: color 100ms;
}

#exchangebutton:hover {
  background-color: #A3C9AA;
  color: white;
}

#exchangebutton {
  background-color: #248e38;
  border-radius: 100px;
  border-style: solid;
  border-color: black ;
  border-width: 5px;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  
  font-size: 30px;
  font-weight: bold;
  height: 100px;
  width: 450px;
  line-height: 20px;
  margin: 10px;
  margin-bottom: 40px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
}

#button {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

#viewtokendeetsh1 {
  font-size: 30px;
  color: #003285;
  margin-bottom: 40px;
  align-items: center;
}

#viewtokendeetsdiv {
  background-color:#EEEEEE ;
  border-style: solid;
  border-radius: 50px;
  border-color: black;
  align-content: center;
  margin: auto;
  margin-bottom: 20px ;
  max-width: 300px;

}

#viewtokendeetstoken {
  font-size: 20px;
  font-weight: bold;
}

#viewtokendeetsprice{
  font-size: 20px;
  font-weight: bold;
}

#viewtokendeetsdate{
  font-size: 20px;
  font-weight: bold;
}

